<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--数据库配置信息-->
    <context:property-placeholder location="classpath:mybatis/db.properties"/>
    <!--
        添加注解扫描器，使所有对象可以被springIOC管理
    -->
    <context:component-scan base-package="crm"/>

    <!--导入其他spring配置文件信息-->
    <import resource="classpath:spring/spring-service.xml"/>
</beans>